// link documentação https://www.weatherapi.com/docs/#weather-icons

VITE_API_KEY="meu_token" // Chave_api
VITE_API_URL="https://api.weatherapi.com/v1" // https://api.exemplo.com
MODE="enviroment" // Ambiente