// link documentação https://www.weatherapi.com/docs/#weather-icons

VITE_API_KEY=meu_token // Chave_api
VITE_API_URL="https://api.weatherapi.com/v1" // https://api.exemplo.com
MODE="enviroment" // Ambiente

// link documentação https://docs.foursquare.com/fsq-developers-places/reference/ask

VITE_API_KEY_LOCALS= // Chave_api

VITE_CLIENT_ID_LOCALS =cliente_id // Cliente id 
VITE_CLIENT_SECRET_LOCALS=cliente_secret_key // Cliente secret key 